.footer__content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    /* height: 146px; */
    padding: 49px 0 40px;
    border-top: 2px solid #182f37;
    margin-top: auto;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col-right {
    display: flex;
    align-items: flex-end;
}

.social {
    margin-right: 74px;
}

.social__item {
    display: inline-block;
    margin-right: 7px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center content no-repeat;
    position: relative;
}

.social__link:hover::before {
    opacity: 1;
}

.social__link::after {
    opacity: 0;
}

.social__link::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
}

.social__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    opacity: 0;
    transition: .3s;
}



.social--icon--telegram .social__link {
    background: url(../../img/social/social_sprites.png) -122px -10px;
}

.social--icon--telegram .social__link:before {
    background: url(../../img/social/social_sprites.png) -122px -66px;
}

.social--icon--vk .social__link {
    background: url(../../img/social/social_sprites.png) -10px -122px;
}

.social--icon--vk .social__link:before {
    background: url(../../img/social/social_sprites.png) -66px -122px;
}

.social--icon--facebook .social__link {
    background: url(../../img/social/social_sprites.png) -10px -10px;
}

.social--icon--facebook .social__link:before {
    background: url(../../img/social/social_sprites.png) -66px -10px;
}

.social--icon--instagram .social__link {
    background: url(../../img/social/social_sprites.png) -10px -66px;
}

.social--icon--instagram .social__link:before {
    background: url(../../img/social/social_sprites.png) -66px -66px;
}

.contacts__description {
    font-size: 11px;
    color: #9A9A9A;
}

/* services page */
.services__footer .footer__content {
    padding: 50px 0 42px;
}