
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    margin-bottom: 30px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col-right {
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 80px;
}

.nav__item {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 51px;
}

.nav__link {
    font-size: 14px;
    text-decoration: none;
}

.nav__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    margin-top: -7px;
}