/* home page */
.main-page {
    background: url(../../img/bg-top.jpg) center top no-repeat, url(../../img/bg-bottom.jpg) center bottom 140px no-repeat;
}

.main-page__intro {
    margin-bottom: 246px;
}

.container__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 529px;
    
}

.intro__banner {
   width: 45%;
}

.intro__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.4;
    margin-bottom: 24px;
}

.intro__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background: #F5170E;
    color: #fff;
    border-radius: 35px;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.btn:hover {
    background: #DA0100;
}

.main-page__tour {
    margin-bottom: 122px;
}


/* tour */
.tour__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 51px;
}

.title--fire {
    padding-left: 12px;
}

.tour__list {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.tour__item {
    min-height: 449px;
    width: calc(100% / 3 - 18px);
    background: #fff;
    border-radius: 5px;
    overflow:hidden;
}

.tour__preview {
    width: 100%;
    height: 144px;
}

.tour__preview-img {
    min-height: 144px;
    width:100%;
    height:100%;
    object-fit: cover;
}

.tour__content {
    flex: 1;
    padding: 30px 16px 26px 21px;
    color: #666666;
}

.tour__subtitle {
    font-weight: bold;
    font-size: 24px; 
    color: #000;
    margin-bottom: 22px;
}

.tour__features {
    display: flex;
}

.tour__feature {
    width: 165px;
    margin-bottom: 23px;
}

.tour__features-icon {
    display: block;
    position: absolute;
}

.tour__features-text {
    font-size: 16px;
    padding: 2px 0;
    margin-left: 42px;
}

.tour__text {
    margin-bottom: 26px;
    line-height: 1.5;
    color: #303030;
}

.tour__btn--light {
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
    border-radius: 35px;
    padding: 17px 29px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    width: 42%;
}

.tour__btn--light:hover {
    background: #F5170E;
    color: #fff;
}

.tour__btn--light-activ {
    background: #F5170E;
    color: #fff;
}

.main-page__news {
    margin-bottom: 145px;
}


/* news */
.news__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 51px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
    
}

.news__item {
    margin-right: 2%;
    flex: 1;
}

.news__item:last-child {
    margin-right: 0;
}
.single-news {
    
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.single-news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-news__features {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px;
    min-height: 140px;
}

.single-news__date {
    font-size: 14px;
    margin-bottom: 15px;
}

.single-news__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px;
}

.single-news__text {
    font-size: 16px;
}

.main-page__about {
    margin-bottom: 53px;
}


/* about */
.about {
    padding-top: 97px;
    position: relative;
}

.about__block {
    display: block;
    position: absolute;
    top: 0;
    width: 490px; 
    height: 505px;
    background: url(../../img/about/about-1.jpg) center center / cover no-repeat;
    border-radius: 5px;
}

.about__item {
    display: block;
    position: relative;
    padding-top: 71px;
    padding-left: 81px;
    padding-bottom: 65px;
    width: 785px;
    background: url(../../img/about/about-2.jpg) no-repeat;
    border-radius: 5px;
    margin-left: auto;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin-bottom: 37px;
}

.about__text {
    font-size: 16px;
    line-height: 1.7;
    color: #060606;
    width: 502px;
    margin-bottom: 69px;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}


/* sevices page */
.top-line {
    display: flex;
    min-height: 412px;
    background: #001821 url(../../img/serviсes/bg-serviсes.jpg) center top no-repeat;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-page__header {
    margin-bottom: 41px;
}

.page-content {
    background: #fff;
    padding-top: 98px;
}

.services {
    margin-bottom: 84px;
}

.services__list {
    margin-bottom: 70px;
}

.serviсe {
    display: flex;  
    margin-bottom: 52px;
}

.serviсe:last-child {
    margin-bottom: 0;
}

.serviсe__img {
    width: 40%;
    margin-right: 5%;
}

.service__content {
    flex:1;
}

.service__title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 30px;
}

.service__desc {
    font-size: 16px;
    line-height: 1.7;
    color: #303030;
    margin-bottom: 34px;
}

.service__btn--light {
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
    border-radius: 35px;
    padding: 17px 38px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.service__btn--light:hover {
    background: #F5170E;
    color: #fff;
}

.service__btn--light-activ {
    background: #F5170E;
    color: #fff;
}


/* reviews page */
.reviews {
    margin-bottom: 86px;
}

.intro__reviews {
    margin-bottom: 118px;
}

.reviews__item {
    margin-bottom: 20px;
}

.reviews__list {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 32px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px 32px 30px;
    background: #F4F5F5;
    border-radius: 5px;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.review__photo {
    margin-right: 22px;
}

.review__user {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #1A1B1E;
    margin: 3px 0 8px 0;
}

.review__user:hover {
    color: #2E77A4;
    text-decoration-line: underline;
}

.review__user::after {
    content: url(../../img/social/vk-blue.png);
    margin-left: 5px;
}

.review__user-activ {
    color: #2E77A4;
    text-decoration-line: underline;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
    border-radius: 50%;
}

.review__tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 12px 18px;
    border-radius: 50px;
    background: #E7E7E7;
    margin-right: 7px;
    margin-bottom: 9px;
}

.tag--bg-green {
    background: #B9EAE4;
}

.review__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.4;
    color: #1A1B1E;
    margin-bottom: 13px;
}

.review__content-text {
    font-size: 16px;
    line-height: 1.7;
    color: #818181;
}

.review__content-text p {
    margin-bottom: 45px;
}

.review__date {
    font-weight: bold;
    font-size: 14px;
    color: #1A1B1E;
}

.separator {
    background: url(../../img/reviews/separator/bg-tour.png) bottom right 22% no-repeat, url(../../img/reviews/separator/bg-separator.jpg);
    min-height: 360px;
    display: flex;
    align-items: center;
}
 
.separator__container {
    flex: 1;
    display: flex; 
    align-items: center;
}

.separator__content {
    max-width: 60%;
}

.separator__img {
    position: absolute;
    bottom: -123%;
    left: 92%;
}

.separator__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.1;
}

.inner-section {
    background: #F4F5F5;
    padding: 67px 0 96px 0;
}

.inner-section__title {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 65px;
}

.form__row {
    display: flex;
    margin-bottom: 26px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input:focus {
    outline: 1px solid red;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input::placeholder{
    color: #666;
}

.form__input--textarea {
    height: 235px;
}

.form__controls {
    display: flex;
    margin-bottom: 20px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.form__controls__title {
    width: 37%;
    font-size: 18px;
    color: #1A1B1E;
    padding-top: 13px;
}

.controls__item {
    margin-right: 7px;
    margin-bottom: 9px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.controls__tag-activ{
    background: #B9EAE4;
}

.controls__checkbox {
    display: none;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
}

.btn--color--grey {
    background: #8E8E8E;
}

.btn--color--grey:hover {
    background: #2B2B2B;
}

.btn--color--grey-activ {
    background: #2B2B2B;
}

.form__btn {
    margin-right: 17px;
}

.form__btn:last-child {
    margin-right: 0;
}



/* index page */
.welcome {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/welcome-bg.jpg) center no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__shades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url(../../img/welcome-shades.png) center top no-repeat;
    width: 591px;
    min-height: 248px;
}

.central__title {
    font-size: 18px;
}

.btn--color--ginger {
    padding: 20px 58px;
}

.central-asia {
    opacity: 0;
    animation: zoom .9s ease-in;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    from {
        transform: scale(.7);
    }

    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }

    to {
       opacity: 1; 
       transform: scale(1);
    }
}

