/* index.html */
.main-page {
    background: url(../../img/bg-top.jpg) center top no-repeat, url(../../img/bg-bottom.jpg) center bottom 140px no-repeat;
}

.main-page__intro {
    margin-bottom: 246px;
}

.container__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 529px;
    
}

.intro__banner {
   width: 45%;
}

.intro__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.4;
    margin-bottom: 24px;
}

.intro__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.btn:hover {
    background: #DA0100;
}

.main-page__tour {
    margin-bottom: 122px;
}


/* tour */
.tour__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 51px;
}

.title--fire {
    position: absolute;
    padding-left: 288px;
    padding-top: 13px;
}

.tour__list {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.tour__item {
    display: flex;
    flex-direction: column;
    min-height: 449px;
    width: calc(100% / 3 - 18px);
    background: #fff;
    border-radius: 5px;
    overflow:hidden;
}

.tour__preview {
    width: 100%;
    height: 144px;
}

.tour__preview-img {
    min-height: 144px;
    width:100%;
    height:100%;
    object-fit: cover;
}

.tour__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 16px 26px 21px;
    color: #666666;
}

.tour__subtitle {
    font-weight: bold;
    font-size: 24px; 
    color: #000;
    margin-bottom: 22px;
}

.tour__features {
    display: flex;
}

.tour__feature {
    width: 165px;
    margin-bottom: 23px;
}

.tour__features-icon {
    display: block;
    position: absolute;
}

.tour__features-text {
    font-size: 16px;
    padding: 2px 0;
    margin-left: 42px;
}

.tour__text {
    margin-bottom: 26px;
    line-height: 1.5;
    color: #303030;
}

.tour__btn--light {
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
    border-radius: 35px;
    padding: 17px 29px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    width: 42%;
}

.tour__btn--light:hover {
    background: #F5170E;
    color: #fff;
}

.main-page__news {
    margin-bottom: 145px;
}


/* news */
.news__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 51px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
    
}

.news__item {
    margin-right: 2%;
    flex: 1;
}

.news__item:last-child {
    margin-right: 0;
}
.single-news {
    
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.single-news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-news__features {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px;
    min-height: 140px;
}

.single-news__date {
    font-size: 14px;
    margin-bottom: 15px;
}

.single-news__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px;
}

.single-news__text {
    font-size: 16px;
}

.main-page__about {
    margin-bottom: 53px;
}


/* about */
.about {
    padding-top: 97px;
    position: relative;
}

.about__block {
    display: block;
    position: absolute;
    top: 0;
    width: 490px; 
    height: 505px;
    background: url(../../img/about/about-1.jpg) center center / cover no-repeat;
    border-radius: 5px;
}

.about__item {
    display: block;
    position: relative;
    padding-top: 71px;
    padding-left: 81px;
    padding-bottom: 65px;
    width: 785px;
    background: url(../../img/about/about-2.jpg) no-repeat;
    border-radius: 5px;
    margin-left: auto;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin-bottom: 37px;
}

.about__text {
    font-size: 16px;
    line-height: 1.7;
    color: #060606;
    width: 502px;
    margin-bottom: 69px;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}


/* sevices page */
.top-line {
    display: flex;
    /* flex-direction: column; */
    min-height: 412px;
    background: #001821 url(../../img/serviсes/bg-serviсes.jpg) center top no-repeat;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.services {
    padding-top: 98px;
    background: #fff;
}

.services-page__header {
    margin-bottom: 41px;
}

.intro__spase { /*---*/
    margin-bottom: 102px;
}

.services-page__services {
    margin-bottom: 90px;
}

.services__item {
    display: flex;
    margin-bottom: 49px;
}

.serviсes__preview-img {
    display: block;
    height: 333px;
    border-radius: 6px;
}

.services__content {
    width: 652px;
    margin: 10px 0  0 58px;
}

.services__subtite {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    margin-bottom: 30px;
}

.services__text {
    font-size: 16px;
    line-height: 1.7;
    color: #303030;
    margin-bottom: 34px;
}

.services__btn--light {
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
    border-radius: 35px;
    padding: 17px 38px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.services__btn--light:hover {
    background: #F5170E;
    color: #fff;
}