/* index.hmtl */
.pagination {
    text-align: center;
    font-size: 16px;
}

.pagination__display, .pagination__list {
    display: inline-flex;
    align-items: center;
}

.pagination__display {
    margin-right: 25px;
}

.pagination__list-item {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.pagination__list-link {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    font-weight: bold;
}

.pagination__list-link:hover {
    width: 32px;
    height: 32px;
    font-weight: bold;
    background: #FFF;
    color: #F5170E;
}


/* services.html */
.services-pagination__list-item {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    font-weight: bold;
    color: #000;
}

.services-pagination__list-item:hover {
    width: 32px;
    height: 32px;
    font-weight: bold;
    background: #F5170E;
    color: #FFF;
}