.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.pagination__display {
    margin-right: 25px;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination__item {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    font-weight: bold;
}

.pagination__link:hover {
    width: 32px;
    height: 32px;
    font-weight: bold;
    background: #fff;
    color: #F5170E;
}

.pagination-link-activ {
    width: 32px;
    height: 32px;
    font-weight: bold;
    background: #fff;
    color: #F5170E;
}


/* services page */
.pagination-theme-red{
    color: #000;
}

.pagination-theme-red .pagination__item .pagination__link:hover {
    font-weight: bold;
    background: #F5170E;
    color: #fff;
}

.pagination-theme-red .pagination__item .pagination__link-activ {
    font-weight: bold;
    background: #F5170E;
    color: #fff;
}