.partners {
background: #e5e9e9;
}

.partners__title {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 99px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 188px;
}