.partners {
    background: #e5e9e9;
    height: 537px;
    padding-top: 88px;
}

.partners__title {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 84px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.partners-item {
    margin-left: 74px;
    margin-bottom: 70px;
}

.partners-item:nth-child(4n + 1) {
    margin-left: 0;
}

.partners-link {
    filter: grayscale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 128px; */
}

.partners-link:hover {
    filter: grayscale(0);
}